@charset "UTF-8";
body{font-family: simsun;color:#666;font-size: 12px;}
.wrapper{width:1000px;margin-left: auto;margin-right: auto;}
.header{
	height: 72px;
	border-bottom: 1px solid #ccc;
}
.header-left h2{
	font:24px/62px microsoft Yahei;
	color:#333;
}
.header-right{
	margin-top: 17px;
}

.shopping-service li{
	float: left;
	background: url(../images/ico_service.png) 0 0 no-repeat;
	height:38px;
	padding-left: 45px;
	font-family: microsoft Yahei;
	margin-left: 20px;

}
.shopping-service .s1{
	background-position: 0 0;

}
.shopping-service .s2{
	background-position: 0 -38px;
	
}
.shopping-service .s3{
	background-position:  0 -76px;
	
}
.shopping-service .s4{
	background-position: 0 -114px;
	
}
.shopping-service li h3{
	font-size: 14px;
	line-height: 18px;
	color:#666;
}
.shopping-service li p{
	line-height: 16px;
	color:#b2b2b2;
}

.product-hd{
	text-align: right;
	border-bottom: 1px solid #dfdfdf;
}

.product-hd h1{
	font:16px/56px microsoft Yahei;
	color:#333;
}
.product-hd p{
	color:#999;
	line-height: 56px;
}

.preview img{width:350px;}


.choose-wrap{
	width:600px;
	border-top: 1px dashed #e0e0e0;
	margin-top: 37px;
}
.choose-wrap dl{
	overflow: hidden;
	padding-left: 27px;
}

.choose-wrap dt,.choose-wrap dd{
	float: left;
}
.choose-wrap dt{
	width:60px;
	margin-right: 15px;
	line-height: 28px;

}
.choose-wrap dd{
	width:498px;
}
.choose-wrap a{
	text-decoration: none;
}
.choose-wrap dd .item{
	float: left;
	border:1px solid #ccc;
	padding:6px 8px;
	margin: 2px 8px 2px 0;
	color:#666;
}
.choose-wrap dd .item:hover{
	color:#e4393c;
	border:2px solid #e4393c;
	padding:5px 7px;
}
.choose-wrap dd .item.selected{
	padding:5px 7px;
	border:2px solid #e4393c;
	background: url(../images/ico_selected.png) right bottom no-repeat;
}
.choose-version{
	margin-bottom: 7px;
}
.choose-wrap .product-price dt{
	line-height: 46px;
}
.choose-wrap .price{
	font:bold 18px/46px microsoft Yahei;
	color:#e4393c;
}
.choose-btns dt{
	line-height: 36px;
}


.choose-amount {
    width: 49px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
}

.choose-amount a {
    display: block;
    width: 15px;
    text-align: center;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -1px;
    border: 1px solid #ccc
}

.choose-amount input {
    display: block;
    width: 31px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 1px;
    left: 0;
    border: none;
    border: 0;
    text-align: center
}

.choose-amount a.btn-reduce {
    bottom: -1px
}

.choose-amount a.disabled {
    color: #ccc;
    cursor: not-allowed
}

.choose-amount a.btn-add {
    top: -1px
}

#choose-amount .wrap-input {
    position: relative;
    width: 36px;
    padding: 0 18px
}

#choose-amount .wrap-input a {
    position: absolute;
    top: 3px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    line-height: 50px
}

#choose-amount .btn-reduce {
    left: 0;
    background-position: -216px -190px
}

#choose-amount .btn-add {
    right: 0;
    background-position: -232px -190px
}

#choose-amount .btn-reduce:hover {
    background-position: -216px -206px
}

#choose-amount .btn-add:hover {
    background-position: -232px -206px
}

#choose-amount .text {
    width: 30px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center
}

#choose-color .dt {
    margin-top: 10px
}

.form-title {
    font: 18px/36px microsoft Yahei;
    color: #333;
}
.form-title span{
    font:12px/12px simsun;
    color:#666;
}

.form-group {
    margin: 18px 0;
    line-height: 28px;
    vertical-align: top;
}

.form-group.mb10 {
    margin-bottom: 10px;
}

.control-label,
.form-control {
    float: left;
    display: inline;
}
.form-control{
    position: relative;
}

.xin {
    color: #ca0000;
    font-size: 14px;
    margin-right: 6px;
    font-weight: normal;
    font-style:normal;
}

.control-label {
    font-size: 12px;
    line-height: 28px;
    color: #666;
    width: 100px;
    text-align: right;
    margin-right: 12px;
}

.txt {
    width: 212px;
    height: 28px;
    line-height: 28px\9;
    font-size: 12px;
    padding:0 8px;
    float: left;
    border: 1px solid #d7d7d7;
    background: #fff;
    color: #666;
    outline: none;
}

.txt23,
.txt23 {
    width: 23px;
}

.txt38,
.txt38 {
    width: 38px;
}

.txt88,
.txt88 {
    width: 88px;
}

.txt98,
.txt98 {
    width: 98px;
}

.txt118,
.txt118 {
    width: 118px;
}

.txt128,
.txt128 {
    width: 118px;
}


.txt160 {
    width: 160px;
}
.txt162 {
    width: 162px;
}

.txt198,
.txt198 {
    width: 198px;
}

.txt398,
.txt398 {
    width: 398px;
}

.txt438,
.txt438 {
    width: 438px;
}

.txt448,
.txt448 {
    width: 448px;
}

.btn-red {
    display: inline-block;
    width: 290px;
    padding: 8px 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    background: #ca0000;
    color: #fff;
}

.form-section{
    border-top: 1px solid #dfdfdf;
}

.getcode{
    width:102px;
    height: 30px;
    background: #929292;
    font-size: 12px;
    color:#fff;
    outline: none;
    line-height: 30px;
    text-align: center;
    border:none;
}

.form-group .radio{
    float: left;
    border:1px solid #ccc;
    line-height:12px;
    height: 26px;
    line-height: 26px;
    width:62px;
    margin-right: 10px;
    color:#666;
    text-align: center;
    cursor:pointer;
}
.form-group .radio.selected{
    height: 24px;
    line-height: 24px;
    border:2px solid #e4393c;
    color:#e4393c;
    background: url(../images/ico_selected.png) right bottom no-repeat;
}
.paytype .radio{width:90px;height: 30px;line-height: 30px;}
.paytype .radio.selected{
    height: 28px;
    line-height: 28px;
}